.img {
    height: 13px;
}

body {
    font-family: 'Manrope', sans-serif;
}

.page-view {
    letter-spacing: 0.2em;
}

.dollar-custom {
    font-size: 35px;
}

.month {
    font-size: 17px;
    color: grey;
}




/* MEDIA QUERIES */

@media(max-width: 450px) {}